.navbar-default .navbar-nav > li.menu-item-has-children a {
  /*padding-right: 50px;*/
}

.navbar-default .navbar-nav > li.menu-item-has-children a:after {
  content: " ";
  color: #fff;
  padding: 0 0 0 13px;
  background-image: url(../images/nav_arrow_down.png);
  background-repeat: no-repeat;
}

ul.nav li.menu-item-has-children:hover > ul.dropdown-menu {
  @include md {
    display: block !important;
  }
}

.post-type-archive-products, .single-products {
  li.menu-item-124 {
    border-top: 1px solid $blue;
  }
}

.post-type-archive-sales-reports {
  li.menu-item-203 {
    border-top: 1px solid $blue;
  }
}


header {
  &.scrolled {
    background: #fff !important;
    transition: .5s;
  }
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
  .navbar-toggle {
    margin-top: 45px;
    @include md {
      margin-top: 65px;
    }
  }
  .menu-menu-1-container {
    @include md {
      padding-top: 65px;
    }
  }
  li.current_page_item {
    border-top: 1px solid $blue;
  }
  .navbar-right {
    li > a {
      display: inline-block;
      @include md {
        display: inline-block;
        padding: 15px 0;
      }
    }

  }
}
